<div class="row">
	<div class="col-md-12" id="breadcrumbs">
		<ol class="breadcrumb">
			<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
			<li id="back-publishers"><a href="#">Publishers</a></li>
			<li class="active">histoiredeuxsoeurs.com</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12" id="search-bar">
		<form class="search-bar">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</div>
					<input type="text" class="form-control" id="publishers-search" placeholder="Page URL">
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12" id="table-profile">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Page title</th>
					<th>Images</th>
					<th>to process</th>
					<th>Page views</th>
					<th>Page URL</th>
				</tr>
			</thead>
			<tbody id="profile-tbody">
			</tbody>
		</table>
	</div>

<!-- Pagination -->
<div class="col-md-12" id="pagi-tiresio">
	<nav class="text-center">
		<ul class="pagination">
			<li class="prev-pagination">
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="selectors active"><a href="#">1</a></li>
			<li class="selectors"><a href="#">2</a></li>
			<li class="selectors"><a href="#">3</a></li>
			<li class="selectors"><a href="#">4</a></li>
			<li class="selectors"><a href="#">5</a></li>
			<li class="next-pagination">
				<a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
