<div class="row">
	<div class="col-md-12" id="breadcrumbs">
		<ol class="breadcrumb">
			<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
			<li id="back-publishers"><a href="#">Publishers</a></li>
			<li id="page-url"><a href="#">histoiredeuxsoeurs.com</a></li>
			<li id="page-article"><a href="#">virée shopping</a></li>
			<li class="active">Page title</li>
		</ol>
	</div>
</div>

<div class="mod-vignette"></div>

<div class="row" id="vignettes-img">
	<div class="col-md-6">
		<a href="#" class="thumbnail img-copy">
			<img src="img/instagram.jpg" />
		</a>
		<p>WIDTH : 640px | HEIGHT : 640px | ID_656565998</p>
	</div>
	<div class="col-md-6">
		<select class="form-control">
			<option>Choose format</option>
			<option>Format 1</option>
			<option>Format 2</option>
			<option>Format 3</option>
			<option>Format 4</option>
		</select>

		<div class="row">
			<div class="activate-tags col-md-6 col-md-offset-4">
				Activate tags &nbsp;<input type="checkbox" name="on-off" checked>
			</div>
		</div>

		<div class="row img-vignettes">
			<h5>Recommended</h5>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
	 		</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
	 		</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
	 		</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
	 		</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
			</div>
		</div>

		<div class="row img-vignettes">
			<h5>Products already in the page</h5>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
	 		</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
	 		</div>
			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<button class="btn btn-default btn-add" type="submit">Add</button>
					<img src="img/instagram.jpg" />
				</a>
			</div>
		</div>
	</div>
</div>
